@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
	background-image: url('images/2.jpg');
	background-repeat: no-repeat;
	    background-size: cover;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    min-height: 90vh;
}
button{
	font-family: Roboto;
}
.outerDiv{
	width: auto;
    max-width: 1000px;
    padding: 20px 20px;
    box-shadow: 1px 5px 25px 5px #ccc;
    border-radius: 5px;
}
#quote{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
}
#author{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #F44336;
}
#newquote{
	    background-image: linear-gradient(to right, rgb(22, 160, 133) 0%, rgb(244, 208, 63) 51%, rgb(22, 160, 133) 100%);
    color: #fff;
    height: 45px;
    transition: all 0.5s;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-transform: uppercase;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
}

#newquote:hover{
	    background-position: 100%;
    color: #fff;
    text-decoration: none;
}
